body,
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

.content-wrapper {
  background-color: #001D37;
  max-width: 1440px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.content-combine {
  max-width: 1065px;
  /* border: 10px solid white; */
  margin: 0px auto;
  position: relative;
  z-index: 2;
}

.content {
  background-color: transparent;
  color: white;
  padding: 139px 0px 129px 0px;
  max-width: 525px;
  margin: 0 0;
  /* border: 3px solid white; */
}

.content-header h1 {
  padding: 0px 0px;
  margin: 0px 0px 11px 0px;
  /* border: 3px solid white; */
  line-height: 97.3%;
  font-size: 6.25rem;
  font-family: "Source Sans 3", sans-serif;
}

.content-description p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
  /* border: 3px solid white; */
  line-height: 169.3%;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20;
  max-width: 435px;
}

.btn1 {
  display: inline-block;
  background-color: #475AFF;
  padding: 14px 40px;
  margin: 39px 0px 0px 0px;
  border-radius: 1000px;
  color: white;
  text-decoration: none;
  border: 3px solid #475AFF;
  font-family: "Source Sans 3", sans-serif;
  font-size: 20;
}

.btn1:hover {
  background-color: #2133d7;
  border: 3px solid #2133d7;
}

.btn2 {
  background-color: transparent;
  border: 3px solid white;
}

.btn2:hover {
  background-color: white;
  border: 3px solid #475AFF;
  color: #475AFF
}

.intro-features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 16px;
  row-gap: 16px;
  /* border: 3px solid white; */
  padding: 0px;
  margin: 0px 0px 149px 0px;
}

.intro-feature {
  border: 1px solid whitesmoke;
  padding: 33px 25px;
  line-height: 151.8%;
  font-family: "Source Sans 3", sans-serif;
  font-size: 17;
  /* max-width: 208px; */
  color: white;
}

.intro-features-icon {
  margin: 0px 0px 0px 0px;
  /* border: 3px solid white; */
}

.intro-features-header {
  margin: 44px 0px 0px 0px;
  /* border: 3px solid white; */
  line-height: 97.3%;
}

.intro-features-description {
  margin: 7px 0px 0px 0px;
  /* border: 3px solid white; */
  line-height: 151.8%;
}

.circle {
  width: 617px;
  height: 617px;
  /* border: 3px solid white; */
  background-color: #D660FF;
  border-radius: 1000px;
  filter: blur(300px);
  opacity: 1;
  position: absolute;
  z-index: 1;
  top: 62px;
  right: -389px;
}

.circle2 {
  /* border: 3px solid white; */
  background-color: #6079FF;
  position: absolute;
  z-index: 1;
  top: -362px;
  left: 67px;
}

.meet-our-friends-wrapper {
  /* border: 3px solid black; */
  max-width: 1440px;
}

.meet-our-friends-combine {
  /* border: 3px solid black; */
  max-width: 1065px;
  margin: 0px auto;
}

.meet-our-friends-title h3 {
  /* border: 3px solid black; */
  font-size: 5.3125rem;
  font-family: "Source Sans 3", sans-serif;
  margin: 130px 0px 0px 0px
}

.meet-our-friends-filter p {
  /* border: 3px solid black; */
  font-size: 1.375rem;
  font-family: "Source Sans 3", sans-serif;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  color: #9F9F9F;
  font-weight: 300;
}

.filter-btn {
  border: 3px solid transparent;
  background-color: transparent;
  font-size: 1.375rem;
  font-family: "Source Sans 3", sans-serif;
  padding: 0px;
  margin: 0px 10px 0px 0px;
  color: #9F9F9F;
  font-weight: 300;
}

.pet-card-list {
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  column-gap: 24px;
  row-gap: 28px;
  margin: 40px 0px 0px 0px;
}

.pet-card {
  border: 3px solid #F3F3F3;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 165px 1fr;
  overflow: hidden;
  max-height: 196px;
}

.pet-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.pet-description {
  padding: 0px 0px 0px 29px;
  margin: 0px 14px 0px 0px;
}

.pet-name {
  padding: 23px 0px 0px 0px;
  /* border: 3px solid black; */
  color: #000000;
  font-size: 1.625rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 97.3%;
  font-weight: 600;
}

.pet-detail {
  line-height: 150%;
  padding: 14px 0px 0px 0px;
  /* border: 3px solid black; */
  color: #626262;
  font-size: 1rem;
  font-family: "Source Sans 3", sans-serif;
}

.pet-age {
  line-height: 150%;
  padding: 14px 0px 14px 0px;
  /* border: 3px solid black; */
  color: #A2A2A2;
  font-size: 0.85rem;
  font-family: "Source Sans 3", sans-serif;
}

.license p {
  max-width: 300px;
  font-size: 0.875rem;
  font-family: "Source Sans 3", sans-serif;
  margin: 0px auto;
  color: #A6A6A6;
  line-height: 97.3%;
  margin: 137px auto 69px auto;
}


/* .ruler {
  border: 3px solid white;
  padding-top: 62px
} */